@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&display=swap');
body{
	background-color: ghostwhite;
}
main{
	font-family: Roboto, serif;
	font-display: swap;
	font-weight: 300;
	font-style: normal;
	text-align: justify;
}

h2,
h3,
h4,
h5,
h6{
	font-family: Roboto, serif;
	font-display: swap;
	font-weight: 900;
	font-style: italic;
	font-size: medium;
	padding: 16px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
}
main p{
	font-weight: 500;
	padding: 16px;
	width: 700px;
	text-align: left;
}
img{
	padding: 16px;
}
h1{
	padding: 16px;
	font-size: 64px;
	font-style: italic;
	color: goldenrod;
	text-align: center;
	text-decoration: overline;
	text-shadow: 3px 3px 3px blue ;
}

.Videoreview a{
	color: olivedrab;
	font-family: Roboto;
	font-weight: italic;
	font-size: 64px;
	text-align: center;
	text-decoration: line-through;
	letter-spacing: 7px;
}
header,footer{
	font-family: Mulish, serif;
	font-display: swap;
	font-weight: 600;
	font-style: italic;
	color: crimson;
	font-size: 36px;
	line-height: 1.2;
	padding: 16px;
	text-align: right;
	letter-spacing: 9px;
}
.examples.underline {
	text-decoration: underline;
	text-align: right;
	width: 1600px;
}
.examples.topline {
	text-decoration: overline;
	text-align: center;
	width: 1600px;
}

.examples.midleline {
	text-decoration: line-through;
	text-align: left;
	width: 1600px;
}
.shadows{
	text-shadow: 2px 2px 5px #000, 5px -2px 10px red;
}
li{
	font-family: Mulish, serif;
	font-weight: 600;
	font-style: italic;
	padding: 0px 16px;
	color:rgb(89, 0, 255);
}

#video{
	margin-left:500px;
	text-align: center;
	text-shadow: 2px 2px 5px #000, 5px -2px 10px red;
}

html {
scroll-behavior: smooth;
}
