@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&family=Roboto:wght@400;700;900&display=swap');

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), 
	url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), 
	url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2"), 
	url("../fonts/Larsseit.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), 
	url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), 
	url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), 
	url("../fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

.startinfo{
	color: blue;
	font-family: Lato;
	font-weight: 400;
}
.list{
	color: blueviolet;
	font-family: Lato;
	font-weight: 700;
}
.name,
.disclaimer{
	color: red;
	font-family: Lato;
	font-weight: 900;
}
.message{
	color: green;
	font-family: roboto;
	font-weight: 700;
}
.secondlist{
	color: crimson;
	font-family: Larsseit;
	font-weight: 400;
}
.secondmessage{
	color: darkmagenta;
	font-family: Larsseit;
	font-weight: 700;
}
.startinfo a{
	color: rgb(34, 0, 66);
	font-family: roboto;
	font-weight: 400;
}
#end{
	color: indigo;
	font-family: roboto;
	font-weight: 900;
}