/* button */
.button{
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	letter-spacing: 0.5px;
	line-height: 1.25;
	padding: 16px 40px;
	color: #fff;
	display: inline-block;
	position: relative;
	transition: all 0.3s ease 0s;
}

.button span{
	position: relative;
	z-index: 2;
}

.button::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease 0s;
	opacity: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #8b2320 0%, #943803 100%);
}

.button:hover::before{
	opacity: 1;
}

/* button invisible */
.border-button{
	background: transparent;
	border: 1px #FF3F3A solid;
	color: #FF3F3A;
	padding: 15px 40px;
	transition: all 0.3s ease 0s;
}

.border-button:hover{
	background-color: #FF3F3A;
	color: #fff;
}

.pageheadlines{
	color: #1E212C;
	font-style: normal;
	margin-bottom: 40px;
}

.uppersmalltext {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.lowerlargetext {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.chektlists{
	width: 390px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	display: flex;
	align-items: left;
	justify-content: space-between;
	gap: 12px;
	flex-direction: column;
	margin-bottom: 48px;
}
.chektlists li{
	background: url('../img/icons/check.svg') 0 6px no-repeat;
	padding-left: 32px;
}
.chektlists li:hover{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
10%, 90% {
	transform: translate3d(-0.25px, 0, 0);
}

20%, 80% {
	transform: translate3d(0.5px, 0, 0);
}

30%, 50%, 70% {
	transform: translate3d(-1px, 0, 0);
}

40%, 60% {
	transform: translate3d(2px, 0, 0);
}
}

.superbutton{
	padding: 10px 0;
	width: 100%;
	text-align: center;
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 160%;
	color: #9A9CA5;
	border-radius: 4px;
	border: 1px solid white;
	transition: all .5s ease;
}

.superbuttons{
	display: flex;
	flex: 1 0 auto;
	padding-bottom: 60px;
}

.superbutton__element{
	width: 16px;
	height: 21px;
	line-height: 160%;
}


svg path {
	stroke:inherit;
	stroke-width:inherit;
	fill:inherit;
}

.star{
	background: url('../img/icons/Stargrey.svg') 0 5px no-repeat;
	transition: all 0.4s ease;
}

.like{
	background: url('../img/optimaseicon/optimaselike.svg') 0 5px no-repeat;
	transition: all 0.4s ease;
}

.book{
	background: url('../img/icons/Layoutsgrey.svg') 0 5px no-repeat;
	transition: all 0.4s ease;
}

.talk{
	background: url('../img/icons/Chatgrey.svg') 0 5px no-repeat;
	transition: all 0.4s ease;
}

.superbutton:hover{
border-color: #FF3F3A;
color: #FF3F3A;
}

.superbutton:hover .star{
	background: url('../img/icons/Starred.svg') 0 5px no-repeat;
}

.superbutton:hover .like{
	background: url('../img/optimaseicon/optimaselike.svg') 0 5px no-repeat;
	background: url('../img/icons/likered.svg') 0 5px no-repeat;
}

.superbutton:hover .book{
	background: url('../img/icons/Layoutsred.svg') 0 5px no-repeat;
}

.superbutton:hover .talk{
	background: url('../img/icons/Chatred.svg') 0 5px no-repeat;
}

.transbutton{
	display: inline-flex;
}

.transbutton-one{
	background: transparent url('../img/Leftgrey.svg') center no-repeat;
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.transbutton-one:hover{
	background: #FF3F3A url('../img/Leftwhite.svg') center no-repeat;
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.transbutton-one {
	font-weight: 700;
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	position: relative;
	transition: all .7s ease;
}

.transbutton-two {
	font-weight: 700;
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	position: relative;
	transition: all .5s ease;
}

.transbutton-two{
	background: transparent url('../img/Rightgrey.svg') center no-repeat;
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.transbutton-two:hover{
	background: #FF3F3A url('../img/Rightwhite.svg') center no-repeat;
	flex: 0 0 48px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}


